[Unit]
Description=Conductor Demo Nomad Docker Proxy
PartOf=conductor-demo.target

[Service]
ExecStart=@@SYSTEMD_SOCKET_PROXYD@@ 127.0.0.1:4646
PrivateTmp=true

